@import url('http://ricostacruz.com/docpress-rsc/style.css');

@media (min-width: 1280px) {
  html .markdown-body .wide {
    width: 900px;
    margin-left: -100px;
    margin-top: 2.7em;
    margin-bottom: 2.7em;
  }

  html .markdown-body.markdown-body {
    table, tr, td, th, thead, tbody {
      border: 0;
      background: transparent;
    }

    table {
      border: solid 2px #eee;
    }

    th {
      font-weight: normal;
      font-size: 0.9em;
      color: #888;
    }

    * + td,
    * + th {
      padding-left: 24px;
    }

    th, td {
      text-align: left;
      border-left: 0;
      border-right: 0;
      border-bottom: solid 1px #eee;
      vertical-align: top;
    }
  }
}

.pull-box.pull-box.pull-box {
  border-top: solid 2px #eee;
  padding-top: 24px;
  margin-top: 4em;
  @include clearfix;

  &:before {
    display: inline-block;
    @include ion-icon('ios-checkmark-outline', 32px);
    vertical-align: middle;
    color: $accent;
    margin-right: 16px;
  }

  a {
    float: right;
    border: solid 1px #1ABC9C;
    border-radius: 4px;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: .05em;
  }

  a:hover {
    text-decoration: none;
    background: #1ABC9C;
    color: white;
  }
}

@media (min-width: 769px) {
  .page-index .markdown-body.markdown-body {
    h1.-with-byline,
    h1.-with-byline + blockquote {
      font-weight: 200;
      font-size: 4em;
      line-height: 1.1;
    }

    h1.-with-byline {
      padding-top: 20vh;
      padding-bottom: .2em;
      margin-bottom: 0;
    }

    h1.-with-byline + blockquote {
      margin-top: 0;
      border: 0;
      padding: 0;
      font-size: 4em;
      color: #ddd;
      font-weight: 300;
      padding-bottom: 14vh;
      line-height: 1.1;
    }
  }
}
