@media (min-width: 1280px) {
  html .markdown-body .wide {
    width: 900px;
    margin-left: -100px;
    margin-top: 2.7em;
    margin-bottom: 2.7em;
  }

  html .markdown-body.markdown-body {
    table, tr, td, th, thead, tbody {
      border: 0;
      background: transparent;
    }

    table {
      border: solid 2px #eee;
    }

    th {
      font-weight: normal;
      font-size: 0.9em;
      color: #888;
    }

    * + td,
    * + th {
      padding-left: 24px;
    }

    th, td {
      text-align: left;
      border-left: 0;
      border-right: 0;
      border-bottom: solid 1px #eee;
      vertical-align: top;
    }
  }
}

html .markdown-body .file-heading {
  font-weight: 700;
  font-size: .9em;

  padding-bottom: 16px;
  margin-bottom: 0;

  overflow: hidden;
  height: 1.3em;
  box-sizing: content-box;
  white-space: nowrap;
}

html .markdown-body .file-heading:after {
  content: '';
  display: none; /* inline-block; */
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background: rgba(32, 32, 32, 0.05);
  margin-left: 16px;

  position: relative;
  top: -1px;
}

html .markdown-body .file-heading + pre {
  margin-top: 0;
}

html .markdown-body .file-heading:before {
  ion-icon('document');
  font-size: 16px;
  width: 24px;
  color: $accent;
}
