@media (min-width: 1280px) {
  html .markdown-body .wide {
    width: 900px;
    margin-left: -100px;
    margin-top: 2.7em;
    margin-bottom: 2.7em;
  }

  html .markdown-body.markdown-body {
    table, tr, td, th, thead, tbody {
      border: 0;
      background: transparent;
    }

    table {
      border: solid 2px #eee;
    }

    th {
      font-weight: normal;
      font-size: 0.9em;
      color: #888;
    }

    * + td,
    * + th {
      padding-left: 24px;
    }

    th, td {
      text-align: left;
      border-left: 0;
      border-right: 0;
      border-bottom: solid 1px #eee;
      vertical-align: top;
    }
  }
}

html .markdown-body .file-heading {
  font-weight: 700;
  font-size: .95em;

  padding-bottom: 16px;
  margin-bottom: 0;

  overflow: hidden;
  height: 1.3em;
  box-sizing: content-box;
  white-space: nowrap;
}

html .markdown-body .file-heading code {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

html .markdown-body .file-heading code:before,
html .markdown-body .file-heading code:after {
  display: none;
}

html .markdown-body .file-heading + pre {
  margin-top: 0;
}

html .markdown-body .file-heading:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  font-family: Ionicons;
  font-weight: normal;
  font-size: 16px;
  width: 24px;
  color: #999;
}
